@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@model DTO.Restaurant.RestaurantDTO
<div class="menu-management">
    @await Html.PartialAsync("_breadcrumb", new Dictionary<string, string> { { "A", "Homepage" }, { "B", "Restaurant Management" }, { "C", "Thêm mới nhà hàng" } }, new ViewDataDictionary(ViewData) { { "mHref", Url.Action("Index", "RestaurantManagement", new { area = "Admin" }) }, { "mShowButton", "true" } })

    @using (Html.BeginForm("New", "RestaurantManagement", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal needs-validation", @enctype = "multipart/form-data" }))
    {
        @await Html.PartialAsync("_Form", Model)
    }
</div>
