.label:empty {
    display: none;
}


/*them nut call*/

.fone {
    font-size: 17px;
    color: #f00;
    line-height: 40px;
    font-weight: bold;
    padding-left: 46px;
    margin: 0 0;
}

.fix_tel {
    position: fixed;
    bottom: 50px;
    left: 10px;
    z-index: 999;
}

    .fix_tel a {
        text-decoration: none;
        display: block;
    }

.tel {
    background: #eee;
    width: 205px;
    height: 40px;
    position: relative;
    overflow: hidden;
    background-size: 40px;
    border-radius: 28px;
    border: none
}

.ring-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 80px;
    position: absolute;
    transition: visibility 0.5s ease 0s;
    visibility: hidden;
    width: 80px;
    z-index: 200000 !important;
}

    .ring-alo-phone.ring-alo-show {
        visibility: visible;
    }

    .ring-alo-phone.ring-alo-hover, .ring-alo-phone:hover {
        opacity: 1;
    }

.ring-alo-ph-circle {
    animation: 1.2s ease-in-out 0s normal none infinite running ring-alo-circle-anim;
    background-color: transparent;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border-radius: 100%;
    height: 70px;
    left: 10px;
    opacity: 0.1;
    position: absolute;
    top: 12px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 70px;
}

.ring-alo-phone.ring-alo-active .ring-alo-ph-circle {
    animation: 1.1s ease-in-out 0s normal none infinite running ring-alo-circle-anim !important;
}

.ring-alo-phone.ring-alo-static .ring-alo-ph-circle {
    animation: 2.2s ease-in-out 0s normal none infinite running ring-alo-circle-anim !important;
}

.ring-alo-phone.ring-alo-hover .ring-alo-ph-circle, .ring-alo-phone:hover .ring-alo-ph-circle {
    border-color: #009900;
    opacity: 0.5;
}

.ring-alo-phone.ring-alo-green.ring-alo-hover .ring-alo-ph-circle, .ring-alo-phone.ring-alo-green:hover .ring-alo-ph-circle {
    border-color: #baf5a7;
    opacity: 0.5;
}

.ring-alo-phone.ring-alo-green .ring-alo-ph-circle {
    border-color: #009900;
    opacity: 0.5;
}

.ring-alo-ph-circle-fill {
    animation: 2.3s ease-in-out 0s normal none infinite running ring-alo-circle-fill-anim;
    background-color: #000;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 30px;
    left: 30px;
    opacity: 0.1;
    position: absolute;
    top: 33px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 30px;
}

.ring-alo-phone.ring-alo-hover .ring-alo-ph-circle-fill, .ring-alo-phone:hover .ring-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
    opacity: 0.75 !important;
}

.ring-alo-phone.ring-alo-green.ring-alo-hover .ring-alo-ph-circle-fill, .ring-alo-phone.ring-alo-green:hover .ring-alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: 0.75 !important;
}

.ring-alo-phone.ring-alo-green .ring-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
    opacity: 0.75 !important;
}

.ring-alo-ph-img-circle {
    animation: 1s ease-in-out 0s normal none infinite running ring-alo-circle-img-anim;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 30px;
    left: 30px;
    opacity: 1;
    position: absolute;
    top: 33px;
    transform-origin: 50% 50% 0;
    width: 30px;
}

.ring-alo-phone.ring-alo-hover .ring-alo-ph-img-circle, .ring-alo-phone:hover .ring-alo-ph-img-circle {
    background-color: #009900;
}

.ring-alo-phone.ring-alo-green.ring-alo-hover .ring-alo-ph-img-circle, .ring-alo-phone.ring-alo-green:hover .ring-alo-ph-img-circle {
    background-color: #75eb50;
}

.ring-alo-phone.ring-alo-green .ring-alo-ph-img-circle {
    background-color: #009900;
}

@keyframes ring-alo-circle-anim {
    0% {
        opacity: 0.1;
        transform: rotate(0deg) scale(0.5) skew(1deg);
    }

    30% {
        opacity: 0.5;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }

    100% {
        opacity: 0.6;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes ring-alo-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes ring-alo-circle-fill-anim {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }

    50% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1) skew(1deg);
    }

    100% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
}

.ring-alo-ph-img-circle a img {
    padding: 1px 0 12px 1px;
    width: 30px;
    position: relative;
    top: -1px;
}

}

.chudam-hiep {
    margin-top: 0;
    color: #000000;
    font-size: 22px;
    font-family: arial, helvetica, sans-serif;
    text-transform: capitalize;
}

.chuden-hiep {
    color: #000000;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
}

.description {
    clear: both;
}

.title-bl {
    background: #F2DEDE;
}

    .title-bl h4 {
        padding-top: 10px;
        padding-left: 10px;
    }

#bizweb-product-reviews .bizweb-review-header .bizweb-review-header-title {
    color: #23B445 !important;
    font-style: normal;
    font-weight: 700;
    padding: 1px 0 1px 22px !important;
    background: url(//bizweb.dktcdn.net/100/098/206/files/da-mua-hang.png) no-repeat;
    background-size: contain;
}

/*Color legends*/

.color-process {
    color: #13adad;
}

.color-approved1 {
    color: #66CCFF;
}

.color-approved2 {
    color: #00FF00;
}


.color-require {
    color: #b9b90e;
}

.color-finished {
    color: #00CC00;
}

.color-cancel {
    color: #FF0000;
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .img-fluid {
        width: 100%;
    }
}