@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model DTO.User.LoginDTO
@{
    var userInfo = HttpContextAccessor.HttpContext.Session.GetString("UserAdmin");
}
<!--==================== page content ====================-->
<div class="page-section">
    <!--=====  End of google map container  ======-->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
            </div>
            <div class="col-lg-4 col-md-12" style="margin-top: 30px; ">
                <!--=======  contact form content  =======-->
                <div class="contact-form-content">
                    <fieldset>
                        <legend>Đăng nhập hệ thống</legend>
                        <div class="contact-form">
                            @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @id = "contact-form", @class = "form-horizontal", @enctype = "multipart/form-data", @style = "Width: 100%" }))
                            {
                                <div class="form-group">
                                    <label>Tên đăng nhập<span class="required">*</span></label>
                                    <input type="email" name="Email" id="customername" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu <span class="required">*</span></label>
                                    <input type="text" name="Password" id="Password" class="form-control" required>
                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit" value="Đăng nhập" id="submit" class="theme-button contact-button form-control btn btn-success" name="submit">Đăng nhập</button>
                                </div>
                            }
                        </div>
                    </fieldset>
                    <p class="form-messege pt-10 pb-10 mt-10 mb-10"></p>
                </div>
                <!--=======  End of contact form content =======-->
            </div>
            <div class="col-lg-4 col-md-12">
            </div>
        </div>
    </div>
</div>
<!--=========