@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@model DTO.Modifier.ModifierDTO
<div class="menu-management">
    @await Html.PartialAsync("_breadcrumb", new Dictionary<string, string> { { "A", "Homepage" }, { "B", "Modifier magement" }, { "C", "Cập Nhật topping" } }, new ViewDataDictionary(ViewData) { { "mHref", Url.Action("Index", "ModifierManagement", new { area = "Admin" }) }, { "mShowButton", "true" } })

    @using (Html.BeginForm("Edit", "ModifierManagement", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal needs-validation", @enctype = "multipart/form-data" }))
    {
        @await Html.PartialAsync("_Form", Model)
    }
</div>
